h1{
    text-align: center;
}
body{
    background-color: aqua;
}
h1{
    font-size: large;
    font-style: oblique;
}
h2{
    font-size: larger;
    font-style: oblique;
}
h3{
    font-size: larger;
    font-style: oblique;
}
p{
    font-size: small;
    font-style: inherit;
}
